---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import UseCases from "../components/UseCases.astro";
import Setup from "../components/Setup.astro";
import Features from "../components/Features.astro";
import Integrations from "../components/Integrations.astro";
import Architecture from "../components/Architecture.astro";
import Comparison from "../components/Comparison.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Gabay - The Agentic AI">
	<Navbar />
	<main class="overflow-x-hidden pt-4 pb-24">
		<Hero />
		<UseCases />

		<Integrations />
		<Architecture />
		<Comparison />
		<Setup />
		<FAQ />
	</main>
	<Footer />
</Layout>
